| if "empty" == @element.kind then
|   element_empty(result)
| elsif "simple" == @element.kind then
|   element_simple(result)
| elsif "data" == @element.kind then
|   element_data(result)
| elsif "mixed" == @element.kind then
|   element_mixed(result)
| else
|   raise Xampl::XamplException.new(:unkown_kind_of_element, "unknown element kind: '#{@element.kind}'")
| end
